<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать человека</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}" th:object="${person}">
    <label for="fullName">Введите ФИО: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full Name Error</div>
    <br/>
    <label for="age">Введите год рождения: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>